body {
    background-color: #cdc6ae;
    font-family: 'Orbitron', 'Times New Roman', Times, serif;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    height: 95vh;
}

.calculator {
    background-color: #38686a;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 2px solid white;
    border-top: 2px solid white;

    display: flex;
    flex-direction: column;

    width: 360px;
    height: 500px;
    margin-top: 50px;
}

.display {
    background-color: #a3b4a2;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    font-size: 40px;

    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;

    padding: 20px;
    height: 52px;
    margin: 10px;
}

.buttons {
    background-color: lightblue;

    display: flex;
    flex-flow: wrap;

    height: 390px;
    margin: 0px 10px 10px;
}

.buttons div {
    color: black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clear, .back {
    width: 166px;
}

.number, .operator, .decimal, .equal {
    width: 81px;
}

.operator, .decimal, .equal {
    background-color: #a3b4a2;
}

.number {
    background-color: #187795;
}

.clear, .back {
    background-color: #2589bd;
}

a {
    font-family: 'Times New Roman';
    color: #a9a28b;
}
