body {
    background-color: papayawhip;
    font-family: 'Times New Roman', Times, serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 90vh;
}

.calculator {
    background-color: gray;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    width: 360px;
    height: 500px;
}

.display {
    background-color: lightblue;
    font-family: 'Orbitron';
    font-size: 30px;
    border-radius: 8px;

    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;

    padding: 15px;
    margin: 10px 10px 0px;
    height: 40px;
}

.buttons {
    background-color: lightblue;
    border-radius: 8px;

    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 10px;
    
    margin: 10px;
    padding: 15px;
}

.buttons button {
    color: black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    font-family: 'Orbitron';
    font-size: 20px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 66px;
    height: 81px;
}